<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>pro</title>
  </head>
  <body>
    <div class="one">
      <header class="navbar">
        <div class="left">
          <img src="./fuem-low-resolution-logo-color-on-transparent-background.png">
        </div>
        <nav class="right">
          <a href="./location.html">Location</a>
          <a href="./type.html">Type</a>
          <a href="#"><button id="button" onclick="begin()">Login</button></a>
        </nav>
      </header>
      <div class="container">
        <div class="text"></div>
      </div>
    </div>
    <div id="registering" class="flex-col">
        <div class="heading">
            <h1>FUEM</h1>
        </div>
        <div class="prompting">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="password">
            <a href="./location.html" target="_blank"><button>SUBMIT</button></a>
        </div>
        <div class="sign-up">
            <h4>Didn't have an account? sign up</h4>
            <h4>Forget password</h4>
        </div>
    </div>

  </body>   
  <script src="../public/script.js"></script>
  <script src="https://mediafiles.botpress.cloud/f5b37986-15c8-45b0-8ea5-32512eccd5ff/webchat/config.js" defer></script>
  <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
</html>