<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
    <link rel="stylesheet" href="../public/style_location.css">
</head>
<body>
        <header class="navbar">
            <div class="left">
            <img src="./fuem-low-resolution-logo-color-on-transparent-background.png">
            </div>
        </header>

      <div id="registering" class="flex-col">
            <div class="heading">
                <h1>FUEM</h1>
            </div>
            <div class="prompting">
                <input type="email" placeholder="City">
                <input type="text" placeholder="Address">
                <a href="./type.html" target="_blank"><button>SUBMIT</button></a>
            </div>
        </div>
</body>
</html>